[package]
name = "catalyst-contest"
description = "Catalyst voting (contest)"
keywords = ["cardano", "catalyst", "voting", "contest"]
version = "0.0.1"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
minicbor = { version = "0.25.1", features = ["alloc", "derive", "half"] }

cbork-utils = { version = "0.0.2", git = "https://github.com/input-output-hk/catalyst-libs.git", tag = "cbork-utils-v0.0.2" }
# TODO: FIXME: Use tag instead of branch!
catalyst-voting = { version = "0.0.1", git = "https://github.com/input-output-hk/catalyst-libs.git", branch = "cbor-encoding-for-catalyst-voting-types" }
