# Catalyst Signed Document Specification

## Abstract

Project Catalyst requires a verifiable data format for the publication and validation of
large volumes of off chain information.

The Catalyst Signed Documents Specification is based on COSE
and provides the basis of this document specification.

## Motivation

As Project Catalyst decentralizes via both on-chain and off-chain mechanisms, a reliable,
standardized process for authenticating documents and their relationships is required.

## Specification

Project Catalyst generates a large volume of off chain information.
This information requires similar guarantees as on-chain data.
It needs to be verifiably published and also immutable.
However, we also require the ability to publish new versions of documents,
and for documents to be able to securely reference one another.

Catalyst Signed Documents are based on COSE.
Specifically, the COSE Sign format is used.
This allows one or more signatures to be attached to the same document.

While every Catalyst Signed Document is a valid COSE Sign format document,
not every COSE Sign format document is a valid Catalyst Signed Document.
The following restrictions apply:

### Unprotected Headers are not permitted

It is a requirement that any document that contains exactly the same data, must produce the same
catalyst signed document.
This means that unprotected headers, which do not form part of the data protected by
the signature are not permitted.
Any document which contains any unprotected headers is not a valid Catalyst Signed Document,
even though it may be a valid COSE Sign formatted document.

### Only defined metadata and COSE Headers are allowed

Each document type, defines a set of metadata and the COSE Headers which are allowed in that document type.
Even if the Catalyst Signed document metadata exists in this specification, IF it is not defined as
a valid metadata or COSE Header field for that particular document it may not be present.
Unexpected but otherwise valid Metadata or COSE Header fields invalidate the Catalyst Signed Document.

### No undefined metadata or unused COSE Headers may be present

COSE Header Fields which are defined by the COSE Specification, but are NOT defined as part of a
Catalyst Signed Document may not be present.
Any such COSE Header Fields present in the document render it an invalid Catalyst Signed Document.

Any metadata field that is not defined in this specification may not be present in any protected header.
Unrecognized metadata fields in a document render it an invalid Catalyst Signed Document.

### CBOR Deterministic Encoding MUST be used

The Catalyst Signed Document **MUST** be encoded using CBOR Deterministic Encoding.
The "length-first core deterministic encoding requirements" variant of deterministic encoding *MUST* be used.

### Signed Document CDDL Definition

{{signed_doc_cddl.markdown_reference(relative_doc=doc)}}

### COSE Header Parameters

COSE documents define a set of standard COSE header parameters.
All COSE Header Parameters are protected and
*MUST* appear in the protected headers section of the document.
The COSE header parameters defined and used by Catalyst Signed Documents are as follows:

{{ doc.cose_header_parameters(header_type=header_type.DOCUMENT) }}

### Metadata

Catalyst Signed Documents extend the Header Parameters with a series of 
{{ doc.link_to_file("Metadata fields","metadata.md") }}.

### Signing Catalyst Signed Documents

Catalyst Signed Documents are based on the COSE Sign format.
This allows one or more signatures to be attached to the same document.
A catalyst signed document *MUST* have at least one valid signature attached.
Multiple signatures may also be attached to the same document, where that is required.

Each signature is contained in an array of signatures attached to the document.
The signatures contain protected headers, and the signature itself.
The headers currently defined for the signatures are:

{{ doc.cose_header_parameters(header_type=header_type.SIGNATURE) }}

{{ doc.insert_copyright() }}
