name: Semantic Pull Request

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  build:
    name: Validate PR title
    uses: input-output-hk/catalyst-ci/.github/workflows/semantic_pull_request.yml@master
    with:
      requireScope: true
      scopes: |
        rust
        rust/c509-certificate
        rust/cardano-chain-follower
        rust/catalyst-contest
        rust/catalyst-types
        rust/catalyst-voting
        rust/immutable-ledger
        rust/vote-tx-v1
        rust/vote-tx-v2
        rust/signed-doc
        rust/cbork
        rust/hermes-ipfs
        rust/rbac-registration
        rust/cardano-blockchain-types
        dart
        docs
        general
        deps
        catalyst-python
